body {
    font-family: Arial, sans-serif;
    background-color: #dfdcd8;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}

.cityInput {
    padding: 10px;
    font-size: 22px;
    font-weight: bold;
    border: 2px solid #080000;
    border-radius: 10px;
    margin: 10px;
    width: 300px;
} 

button[type="submit"] {
    padding: 10px 20px;
    font-weight: bold;
    font-size: 22px;
    background-color: rgb(32, 141, 32);
    color: white;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: rgb(12, 92, 12);
}

.card {
    background: linear-gradient(180deg,rgb(174, 204, 216),rgba(194, 148, 96, 0.856));
    padding: 50px;
    border-radius: 10px;
    box-shadow: 2px 2px 10px rgba(109, 43, 43, 0.3);
    min-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1{
    margin-top: 0;
    margin-bottom: 20px;
}

p {
    font-size: 20px;
    margin: 5px 0;
}

.cityDisplay, .tempDisplay {
    font-size: 40px;
    font-weight: bold;
    margin: 5px 0;
    color: #080000c4;
}

.humidityDisplay {
    font-weight: bold;
    font-size: 25px;
    margin-top: 10px;
}

.descDisplay {
    font-size: 27px;
    font-style: italic;
    font-weight: bold;
}

.weatherEmoji {
    margin: 0;
    font-size: 80px;
}

.errorDisplay {
    font-size: 25px;
    font-weight: bold;
    color: rgba(0, 0, 0, 0.747)
}