body {
    font-family: Arial, sans-serif;
    background-color: #dfdcd8;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.weatherForm{
    margin: 20px;
}

.cityInput {
    padding :20px;
    font-size: 16px;
    font-weight: bold;
    border: 2px;
    border-radius: 5px;
    width: 250px;
}